/*Reset*/
html, body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;   
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
h1, figure, img, article, section,th,td,table{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Fim do Reset*/

<<<<<<< HEAD
/*CSS Rodrigão*/
.componentes{
    background: rgb(57, 59, 71);
    text-align: center;
    color: white;
}
.componentes__titulo{
    padding: 23px 0;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
}
.componentes__sub-titulo{
    padding: 10px 0;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
}
.componentes__texto{
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

.componentes2{
    background: rgb(43, 46, 55);
    text-align: center;
    color: white;
}    
    
.formulario{
    background: rgb(197,75,60);
    color: white;    
}    
.formulario_title{
    text-align: center;
}
.formulario__inputs{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:90%;
}
.direitos-autorais{
    text-align: center;
}
/*fim css Rodrigao*/
=======
/*Inicio do Tablet*/
@media(min-width: 768px){

}
/*Fim do Tablet*/

/*Inicio do Desktop*/
@media(min-width: 992px){
    
}
/*Fim do Desktop*/
>>>>>>> d65752e636fd81a5788b8c4eb48b54899c284c96
